.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
   
    
    
}

.container4 {
    display: flex; /* Usar flexbox para alinhar a imagem e o texto */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    gap: 18rem;
    
}
    


.container4 img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    width: 150px; /* Ajuste a largura da imagem como necessário */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.contactme{
    color: white;
    margin: auto;
    font-size: 1rem;
    font-weight: 200;
     display: flex; /* Alinha o ícone e o parágrafo na mesma linha */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column;

}

.contactme i {
    margin-right: 2px; 
}



footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #FF007A, #7B42FF, #00C9FF); /* Gradiente de cores */
    background-size: cover;
    height: 2rem;
   
    
    
}


@media (max-width: 768px)  {

    .footer{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .container4{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
       
    }

    .container4 img{
        margin: auto;
    }

    .contactme
    {
        margin-top: -210px;
    }

    footer{
        display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite que os itens quebrem a linha */
    height: 4rem; /* Altura do footer */
    width: 100%; /* Garante que o footer ocupe toda a largura */
    padding: 0;
    margin: 0 auto; /* Centraliza o conteúdo */
    text-align: center; /* Centraliza o texto */
    font-size: 1rem;
    }
    
    
}

