@import './global.css';
@import './header.css';
@import './introduction.css';
@import './aboutme.css';
@import './hability.css';
@import './portfolio.css';
@import './footer.css';
@import './menu-mobile.css';



.container1{
    background:linear-gradient(to right, #FF007A, #7B42FF, #00C9FF); /* Gradiente de cores */
    height: 40rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;

}
.fadeInDown {
    transform: translate3d(0, -20px, 0);
  }
  .fadeInUp {
    transform: translate3d(0, 20px, 0);
  }
  .fadeInRight {
    transform: translate3d(20px, 0, 0);
  }
  .fadeInLeft {
    transform: translate3d(-20px, 0, 0);
  }

[data-anime] {
    opacity: 0;
  }
  .anime {
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
  }


    
@media (max-width: 730px){

    .container1{
        width: 100vw;
        height: 50rem;
        background-size: cover;
        overflow-y: hidden;
        overflow-x: hidden; /* Impede rolagem lateral */   
       


    }


    
}
    @media (max-width: 768px){
        .container1{
            width: 100vw;
            background-size: cover;
            overflow-y: hidden;
            overflow-x: hidden; /* Impede rolagem lateral */   
           display: flex;
           flex-direction: column;
            align-items: center;
            justify-content: center;
        
    
        }}

        


      
        